CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build\.vs\tree\v14\.suo
build\ALL_BUILD.vcxproj
build\ALL_BUILD.vcxproj.filters
build\Win32\Debug\ALL_BUILD\ALL_BUILD.vcxprojResolveAssemblyReference.cache
build\Win32\Debug\ZERO_CHECK\ZERO_CHECK.Build.CppClean.log
build\Win32\Debug\ZERO_CHECK\ZERO_CHECK.log
build\ZERO_CHECK.vcxproj
build\ZERO_CHECK.vcxproj.filters
build\tree.VC.db
build\tree.dir\Debug\tree.Build.CppClean.log
build\tree.dir\Debug\tree.log
build\tree.sln
build\tree.vcxproj
build\tree.vcxproj.filters
build\treePCH1.h
